/*colors https://www.w3schools.com/colors/colors_monochromatic.asp*/
* {
padding:0;
margin:0;
vertical-align:baseline;
list-style:none;
border:0
}
.bar{height:1200px; background-color: #f2f2f2; /*background-image: url("imgs/evento.png");*/
  min-height: 100%;}
body{
  font: 400 15px/1.8 "Lato", sans-serif;
  margin: 0px;
  /*padding: 0px;*/
  width: 100%;
  /*background-color: #FFE4E1;*/
}
.nav{
  margin: auto;
  position: relative;
  width: 960px;
  height: 50px;
  background-color: #A63EA3;
  overflow: hidden;
}
.nav .menu{/* barra de menu*/
  border-radius: 7px;
  margin: 3px auto;
  max-width: 315px;
  height: 40px;
  /*background-color: #5D225B;*/
}
.nav .menu li{
  margin: 8px auto auto 8px;
  float: left;
  min-width: 25px;
  height: 40px;
}
.nav .menu button{/*Botão para alterar as opções do menu*/
  width: 20px;
  background-color: #fff;
}
.nav .menu li img{
  width: 25px;
}
.nav .menu li a{
  text-decoration: none;
  color: #CF7DCC;
}
.nav .menu li a:hover{
  color: #fff;
}
.content{
  margin: auto;
  background-image: url("images/kids1.png");
  min-height: 800px;
  width: 960px;
  background-color: #fff /*#FFE4E1*/;
  color: #5D225B;
}
.footer{
  background-color: #3A1C39;
  color: #A63EA3;
  margin: auto;
  width: 960px;
  height: 100px;
  text-align: center;
  /*position:absolute;*/
  bottom:0; margin-bottom 0px;  
}

.fotos{
  padding-top: 80px;
  width: 90%;
  /*min-height: 800px;*/
  margin:auto;
  /*background-color: #F08080;*/
}
.fotos a img{
  margin: 5px;
  max-height: 100px;
  max-width: 100px;
}

.upload{
  padding-top: 100px;
}