* {
padding:0;
margin:0;
vertical-align:baseline;
list-style:none;
border:0
}
.bar{height:1200px; background-color: #f2f2f2;}
body{
  font: 400 15px/1.8 "Lato", sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.nav{
  position: fixed;
  width: 100%;
  height: 50px;
  /*background-color: red;*/
  overflow: hidden;
}
.nav .menu{
  margin: 3px auto;
  width: 280px;
  height: 40px;
  background-color: #D8D8D8;
}
.nav .menu li{
  margin: 8px auto auto 8px;
  float: left;
  min-width: 25px;
  height: 40px;
}
.footer{
  background-color: #D8D8D8;
  width: 100%;
  height: 100px;
  text-align: center;
}
