/*colors https://www.w3schools.com/colors/colors_monochromatic.asp*/
* {
padding:0;
margin:0;
vertical-align:baseline;
list-style:none;
border:0;
}
body{
  font: 400 15px/1.8 "Lato", sans-serif;
  margin: 0px;
  /*padding: 0px;*/
  width: 100%;
  /*background-color: #FFE4E1;*/
}
.backnav{
  height: 50px;
  background-color: #A63EA3;
  overflow: hidden;
}
.nav{
  margin: auto;
  position: relative;
  width: 960px;
}
.nav .menu{/* barra de menu*/
  border-radius: 7px;
  margin: 3px auto;
  max-width: 180px;
  height: 40px;
  text-align: center;
  /*background-color: #5D225B;*/
}
.nav .menu ul{}
.nav .menu li{
  font-size: 10px;
  margin: 4px auto auto 8px;
  float: left;
  min-width: 25px;
  height: 25px;
  background-color: #CF7DCC;
  border-radius: 5px;
  text-align: center;
}
.nav .menu li:hover{
  background-color: #FFFFFF;
}
.nav .menu li img{
  width: 25px;
}
.nav .menu li a{
  text-decoration: none;
  color: #FFFFFF;
}
.nav .menu li a:hover{
  color: #3A1C39;
}
.nav .menu li a p{
  margin-top: -8px;
}
a.voltar{color: #3A1C39; font-size: 14px;}
a.voltar:hover{color: #CF7DCC;}
.content{
  margin: auto;
  background-image: url("images/kids1.png");
  min-height: 800px;
  background-color: #fff /*#FFE4E1*/;
  color: #CF7DCC;
}
.backfooter{
  background-color: #3A1C39;
  height: 100px;
  text-align: center;
}
.footer{
  color: #A63EA3;
  margin: auto;
  width: 960px;
  /*position:absolute;*/
  bottom:0; margin-bottom 0px;  
}
.home{
  text-align:center;
  min-height: 100%;
}
.videos, .fotos, .home, .ver_foto, .upload{
  padding-top: 30px;
  width: 960px;
  /*min-height: 800px;*/
  margin:auto;
  /*background-color: #F08080;*/
}
.ver_foto{text-align: center;}
.ver_foto img{max-width: 100%;}
.fotos{text-align:center;}
.fotos a img{
  margin: 5px;
  max-height: 100px;
  max-width: 100px;
}
.videos{
  text-align: center;
}
.videos iframe{
  width: 854px;
  height: 480px;
}
h1, h2, h3{text-align: center; color:#5D225B}
h1{font-size: 27px;}
h2{font-size: 22px;}
h3{font-size: 17px;}
.backupload{
  text-align:center;
  width: 700px;
  overflow: hidden;
  margin:auto;
}
.upload{
  padding-top: 100px;
  float: left;
  width: 350px;
  overflow: hidden;
  margin: auto;
}
hr{
  background-color: #CF7DCC;
  color: #CF7DCC;
  height: 3px;
  width: 854px;
}
input[type=text]{
  width: 250px;
  padding: 4px;
  border: 1px solid #A63EA3;
  border-radius: 3px;
  box-sizing: border-box;
  resize: vertical;
}
input[type=submit]{
  background-color: #CF7DCC;
  color: #FFFFFF;
  height: 22px;
  border-radius: 5px;
  padding: 2px;
}
input[type=submit]:hover{
  background-color: #A63EA3;
  color: #3A1C39;
}

@media only screen and (max-width: 62em) {
  .break{height:140px;}
  .nav, .backnav{
    margin-bottom: 150px;
    position: fixed;
    height: 140px;
    overflow: hidden;
    width: 100%;
    /*background-color: yellow;*/
  }
  .nav .menu{/* barra de menu*/
    min-width: 550px;
    height: 135px;/*background-color: red;*/
    overflow: hidden;
  }
  .nav .menu li{
    font-size: 30px;
    margin: 4px auto auto 8px;
    float: left;
    min-width: 25px;
    height: 100px;
  }
  .nav .menu li img{
    width: 100px;
  }
  .nav .menu li a p{
    margin-top: -30px;
  }
  .fotos a img{
    margin: 5px;
    min-height: 250px;
    min-width: 250px;
    max-height: 400px;
    max-width: 400px;
  }
  .backupload{
    text-align:center;
    overflow: hidden;
  }
  .upload{
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    border: 1px solid #A63EA3;
  }
  input[type=text],input[type=submit],input[type=file]{
    width: 450px;
    padding: 20px;
    font-size: 30px;
    height: 65px;
  }
  h1{font-size: 47px;}
  h2{font-size: 42px;}
  h3,.ver_foto a{font-size: 37px;}
  .videos, .fotos, .home, .ver_foto, .upload, .footer{font-size: 25px;width: 100%}
  .ver_foto img{width: 100%;}
  .home img{width: 100%;}
} /* 1312px */
/*@media (min-width: 37em) { ... } 592px */
/*@media (min-width: 41em) { ... } 656px */
/*@media (min-width: 47em) { ... } 752px */
/*@media (min-width: 68em) { ... } 1088px */
/*@media (min-width: 100em) { ... } 1600px */